.fixed-header {
  position: fixed;
  width: 100%;
  backface-visibility: hidden;
  z-index: 2;
}

.banner {
  bottom: 0;
  background-color: #fff;
  z-index: 9;
  width: 100%;
  -webkit-box-shadow: 0px 4px 2rem 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 4px 2rem 0px rgba(0,0,0,0.1);
box-shadow: 0px 4px 2rem 0px rgba(0,0,0,0.1);
  a:hover {
color: $violet !important;
cursor: pointer;
}

  .container {
    display: flex;
    margin: 0.3rem auto;
    align-items: center;

    .menu {
      margin-bottom: 0;
    }
.logo {margin-left: auto;}
    .header-nav {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
    }

    figure {
      img {
        max-width: 2rem;
      }
      :hover {
        cursor: pointer;

      svg {
        fill: $violet;
      }
    }
      svg {
        height: 2rem;
        width: 1.6rem;
        fill: $bleu;
      }
    }

    ul {
      display: inline;
      float: right;
    }
    .first {
      margin-left: auto;
    }

    .nav-link {
      min-width: 2.2rem;
      text-align: center;
      min-height: 2.2rem;
      color: $bleu;
      margin-right: .5rem;
      margin-top: auto;

      figure {
        text-align: center;
        margin: 0 auto;
        :hover svg {
          fill: $violet;
        }
      }

      svg {
        width: 1rem;

      }
    }
  }
}
/* SLIDEOUT MENU*/
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
  background: #fff;

  figure {
    background: #fff;
    margin: 25%;
  }
  a {
    color: $bleu;
    margin: auto 7%;
text-align: center;
font-weight: bold;
}
a:hover {
  color: $violet;
}

}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open .slideout-panel,
.slideout-open body {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: flex;
  flex-direction: column;
}

.panel:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
}

.panel-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
}
