body.home {
  background-color: $bleu;
}

.home {
  .content {
    max-width: 100%;
    margin: auto;
  }

  section {
    padding: 0 0 2.5rem;
  }

  .card {
    border: none;
    background: transparent;
    margin: 0;
  }

  .author,
  .avatar-container {
    margin: auto;
  }

  .card-img {
    border-radius: 0;
  }

  .card-text,
  h2 {
    color: #fff;
  }

  .card-img-overlay {
    background: $violet-t;
    display: flex;
    flex-direction: column;
  }

  figure .avatar {
    margin: auto;
  }

  .avatar-container {
    margin-right: 0.8rem;
  }

  .col-xs-6 {
    padding-left: 1em;
    padding-right: 1em;
  }

  .una {
    .container-una {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .entry-title {
      padding: 0;
      border: 0;
      margin-left: 0;
      font-weight: bold;

      span {
        background: $violet;
        line-height: 2.63rem;
      }
    }
.meta {
  margin-bottom: auto;
}
    .author-and-date {
      margin-right: auto;
    }

    .avatar-container {
      margin: auto 0.8rem auto;
    }
  }

  .type_article {
    background: $vert;
    color: #000;
    font-style: italic;
    display: inline-flex;
  }

  .timer {
    width: 0.8rem;
    margin: 0 0.3rem 0 1rem;
    fill: #fff;
  }

  span {
    color: #fff;
  }

  .quadra {
    display: flex;
    flex-wrap: wrap;
  }

  .article-metas {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .quadra {
    display: flex;
    flex-wrap: wrap;
    background-color: $bleu;

    .card {
      border: none;
      background: transparent;
      margin: 0;
    }

    .card-img {
      border-radius: 0;
    }

    .card-text,
    h2 {
      color: #fff;
    }

    h2 {
      font-size: 100%;
    }

    .card-img-overlay {
      background: $violet-t;
    }

    .col-xs-6 {
      padding-left: 1em;
      padding-right: 1em;
    }

    .article-metas {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 3%;
      padding-right: 5%;
      padding-top: 5%;
    }

    article {
      margin-bottom: 0.8rem;
    }

    .image-une {
      margin-left: 15%;
      -moz-box-shadow: 0.5em 0.5em 0 -.25rem $vert;
      -webkit-box-shadow: 0.5em 0.5em 0 -.25rem $vert;
      -o-box-shadow: 0.5em 0.5em 0 -.25rem $vert;
      box-shadow: 0.5em 0.5em 0 -.25rem $vert;
      filter:progid:DXImageTransform.Microsoft.Shadow(color=$vert, Direction=134, Strength=0);
    }

    .card-img-overlay {
      margin: 0 0 0 15%;
      padding: 0;
    }

    h2 {
      /*  font-size: 1rem;*/
      padding-right: 20%;
    }

    time {
      margin-top: auto;
    }

    .type_article {
      margin: 20% 0 10%;
      color: $bleu;
      font-style: italic;
      background: none;
      font-size: 80%;
      line-height: 1.2;

      span {
        background-color: $vert;
        padding: 0 0.15rem;
        color: $bleu;
      }
    }

    svg {
      width: 0.8rem;
      fill: #fff;
      margin-right: 0.3rem;
    }

    .chrono {
      margin-left: auto;
      color: #fff;
    }

    time {
      text-align: right;
      font-style: italic;
      margin-right: 4%;
      padding-bottom: 0.4rem;
      font-weight: bold;
    }

    .cta {
      margin: auto;
      text-align: center;
      color: #fff;
      font-size: 1.2rem;
      margin-bottom: 2.5rem;
    }
  }

  .diapa {
    .carousel-indicators li {
      background-color: $vert_t;
      border: none;
      margin: auto 0.15rem;
    }

    .carousel-indicators .active {
      background-color: $vert;
      width: 10px;
      height: 10px;
    }

    .carousel-inner {
      height: 60vh;
    }

    .carousel-item {
      background-color: $violet;
      height: 60vh;

      article {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
        text-align: center;
        padding: 3rem 0;
        color: #fff;
        width: 100%;

        svg {
          fill: #fff;
          width: 2.5rem;
          height: 2.5rem;
        }

        h1 {
          max-width: 60vw;
          margin: auto;
          font-weight: bold;
          margin-bottom: 1rem;
        }

        .avatar-container {
          margin-right: auto;
          margin-bottom: 0.25rem;

          img {
            border-radius: 50%;
          }
        }
      }
    }
  }

  .lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    article {
      padding: 0 1em;
    }

    .image-une {
      margin-left: 5%;
      -moz-box-shadow: 0.4em 0.4em 0 0 $vert;
      -webkit-box-shadow: 0.4em 0.4em 0 0 $vert;
      -o-box-shadow: 0.4em 0.4em 0 0 $vert;
      box-shadow: 0.4em 0.4em 0 0 $vert;
    }

    .article-metas {
      width: 97%;
      height: 100%;
      margin-left: -5%;
      display: flex;
      flex-direction: column;
      padding: 3% 0;

      .chrono {
        margin-left: auto;
      }

      time {
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        font-weight: bold;
      }

      address {
        color: #fff;
      }

      .entry-title {
        font-size: 115%;
        font-weight: bold;
        margin: auto 0;

        span {
          background-color: $violet;
          margin-right: 20%;
              line-height: 137%;
        }
      }
    }
  }

  .categoria {
    padding-bottom: 0;

    .carousel-item {
    /*  height: 60vh;*/
      background-color: $vert;
      padding-bottom: 4rem;
      figure {
        text-align: center;
        margin: auto;
        img {
          text-align: center;
          margin: auto;
          max-height: 30vh;
        }
      }
    }

    .carousel-indicators li {
      background-color: $violet_b;
      border: none;
      margin: auto 0.15rem;
    }

    .carousel-indicators .active {
      background-color: $violet;
      width: 10px;
      height: 10px;
    }
    h2 {
      text-align: center;
      color: $bleu;
      padding: 3rem 0 2rem;
      font-size: 1.4rem;
      max-width: 60vw;
      margin: auto;
    }
  }
}

.related {
  display: flex;
  flex-wrap: wrap;
  background-color: $violet;
  padding: 3.5rem 0;
  flex-direction: column;

  .card {
    border: none;
    background: transparent;
    margin: 0;
  }

  .card-img {
    border-radius: 0;
  }

  .card-text,
  h2 {
    color: #fff;
  }
  h2 {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
   height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 0/* auto*/;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .card-img-overlay {
    background: $violet-t;
  }

  .col-xs-6 {
    padding-left: 1em;
    padding-right: 1em;
  }

  .article-metas {
    width: 112%;
    display: flex;
    flex-direction: column;
    margin-left: -12%;
    padding-right: 5%;
    padding-top: 5%;
    height: 100%;
  }

  article {
    margin-bottom: 0.8rem;
  }

  .image-une {
    margin-left: 15%;
    -moz-box-shadow: 0.5em 0.5em 0 -.25rem $vert;
    -webkit-box-shadow: 0.5em 0.5em 0 -.25rem $vert;
    -o-box-shadow: 0.5em 0.5em 0 -.25rem $vert;
    box-shadow: 0.5em 0.5em 0 -.25rem $vert;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=$vert, Direction=134, Strength=0);
    margin-bottom: 0;
  }

  .card-img-overlay {
    margin: 0 0 0 15%;
    padding: 0;
  }

  h2 {
    font-size: 110%;
  }

  .type_article {
    margin: 7% 0 10%;
    color: $bleu;
    font-style: italic;
    font-size: 80%;
    line-height: 1.2;

    span {
      background-color: $vert;
      padding: 0 0.15rem;
    }
  }

  svg {
    width: 0.8rem;
    fill: #fff;
    margin-right: 0.3rem;
  }

  .chrono {
    margin-left: auto;
    color: #fff;
  }

  time {
    text-align: right;
    font-style: italic;
    margin-right: 4%;
    margin-top: auto;
    padding-bottom: 0.8rem !important;
  }

  .cta {
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
  }
}

.error404 {
  background-color: $bleu;

  .page-header h1 {
    display: none;
  }

  .e404 {
    max-width: $mw;
    margin: 2rem auto;
    color: $violet;
    text-align: center;
    display: block;

    h2 {
      font-size: 1rem;
      font-weight: bold;
    }
    svg {
      max-width: 100%;
    }
  }
}

.author-posts,
.category-posts,
.rebound {
  max-width: $mw;
  margin: auto;

  a {
    width: 100%;
  }

  article {
    display: flex;
    max-width: 100%;
    padding-bottom: 1.5rem;
  }

  .article-metas {
    margin-left: 2rem;
    width: 100%;
  }

  .first-l {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }

  time {
    display: inline-block;
    margin-left: auto;
  }

  .author {
    margin: 0 auto 0 0;
    color: $vert;
  }

  h2 {
    font-size: 1.2rem;
    color: #fff;
  }

  .avatar-container {
    margin-bottom: 0;
  }

  .image-une {
    max-width: 4rem;
    margin: auto;

    img {
      -webkit-box-shadow: 0.2rem 0.2rem 0 1px $violet;
      -moz-box-shadow: 0.2rem 0.2rem 0 1px $violet;
      box-shadow: 0.2rem 0.2rem 0 1px $violet;
    }
  }
}

.page-template-template-contact {
  background: $bleu;

  .contact-top {
    background-color: $violet;
    color: #fff;
    padding: 6rem 7vw 0;
    h2 {
      margin: 4rem 0 2rem;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    .contact-pre {
      margin: 0 7vw 3rem;
      p {
      color: #fff;
      margin: 0;
    }
    figure {
      margin: auto;
    }
      figure > svg {
        height: 1.5rem;
        width: 1.5rem;
        svg {
        fill: #fff;
      }
      }
    }
  }
.contact-form p {
  margin-top: 2rem;
}

  input[type="email"],
  input[type="text"],
  textarea {
    background-color: $bleu;
    border: none;
    max-width: 100%;
        border-bottom: 2px solid $violet;
        color: #fff;
        font-weight: bold;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: $violet;
    margin-left: 2rem;
  }
  input[type="submit"] {
    background: $vert;
border: none;
color: $violet;
text-transform: uppercase;
font-weight: bold;
width: 100%;
padding: .2rem .5rem;
  }
  div.wpcf7-validation-errors {
    border-color: $violet;
    color: #fff;
  }
}

.archive.author {
  background-color: $bleu;
  color: #fff;

  .page-header {
    background-color: $violet;
  }

  .container-author {
    position: relative;

    figure {
      text-align: center;
    }
h2  {
  font-size: 120%;
}
    .metas {
      position: absolute;
      margin-top: auto;
      bottom: 3%;
      left: 7%;
    }

    a {
      color: #fff;
    }
  }

  .author-posts {
    margin-top: 2rem;
    > h2 {
      background-image: -webkit-linear-gradient(top,$vert,$vert);
      background-image: linear-gradient(180deg,$vert,$vert);
      background-position: 0 0.98em;
      background-size: 100% 14%;
      background-repeat: no-repeat;
      padding: 0.1em 0;
      -webkit-transition: background-position 0.15s;
      transition: background-position 0.15s;
    }
  }

  .list-posts {
    margin: auto;

    address {
      margin: 0 auto 0 0;
    }
  }

  .avatar-container {
    margin-bottom: 0;
  }
}

.tax-personas {
  .basic-id {
    background-color: $bleu;
    position: relative;
    .pic-perso {
      margin: auto;
    }

    .h1eth2 {
      position: absolute;
      bottom: 3%;
      text-align: center;
      color: #fff;
      margin: auto;
      left: 0;
      right: 0;
    }
  }

  .bio-longue {
    max-width: $mw;
    margin: auto;
  }

  .liens-parente {
    padding: 2rem 0;
    background-color: $violet;
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;

    .parents {
      display: flex;
    }

    .parent {
      margin: 2rem auto;

      p {
        color: #fff;
        font-weight: bold;
        line-height: 1;
      }
    }

    a {
      color: #fff;
    }

    p {
      margin-bottom: 0;
    }

    h3 {
      font-size: 120%;
    }

    .pic-perso-fam {
      max-width: 50px;
      margin-bottom: 1rem;
    }
  }

  .author-posts h2 {
    color: $bleu;
  }

  .author-posts > h2 {
    background-image: -webkit-linear-gradient(top,#3bffbe,#3bffbe);
    background-image: linear-gradient(180deg,#3bffbe,#3bffbe);
    background-position: 0 0.98em;
    background-size: 100% 14%;
    background-repeat: no-repeat;
    padding: 0.1em 0;
    -webkit-transition: background-position 0.15s;
    transition: background-position 0.15s;
  }

  address {
    margin: 0;
  }
}

.category {
  .category-list {
    display: flex;
    list-style: none;
    overflow-x: auto;
  }

  .page-header {
    .metas-top {
      display: flex;
      max-width: 70vw;
      margin: auto;
      flex-direction: column;
      margin-bottom: 2rem;

      figure {
        margin-top: 3.5rem;
      }

      h1 {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  article {
    margin-bottom: 1rem;
  }

  .entry-title {
    color: $bleu;
  }

  time {
    color: $violet;
  }
}

.newsletter {
  text-align: center;
  background-color: $vert;
  padding: 3.5rem 0;
  flex-direction: column;
#mc_embed_signup input.email:focus {
  border-color: $violet;
}
  .cta-mail {
    color: $violet;
    font-weight: bold;
    max-width: 70vw;
    margin: auto auto 2rem;
    font-size: 110%;
  }

  .email {
    width: 80vw;
    border: none;
    border-bottom: 0.01rem solid $violet;
    background: none;
    padding-bottom: 0.6rem;
    color: #fff;

    :focus {
      border: none;
    }
  }

  .bouton-abo {
    margin-top: 1.5rem;
  }

  .button {
    background: $violet;
    border: none;
    padding: 0.5rem 0;
    width: 80vw;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }

  #mc_embed_signup,
  figure {
    margin-left: auto;
    margin-right: auto;
  }

  svg {
    max-height: 4rem;
  }
}
.page {
  .page-header {
    background-color: $violet;
    color: #fff;
    min-height: 40vh;
    display: flex;
    h1 {
      margin: auto;
    }
  }
    .entry-content {
      max-width: $mw;
      margin: auto;
      padding-bottom: 3rem;
      h2 {
        max-width: $mw;
        border-left: 0.5rem solid $violet;
        margin: 4rem 0 2rem 1rem;
        padding: 0 0 1rem 1rem;
        font-size: 150%;
      }
    }
}
