/* GENERAL */
.single .post {
  .card {
    border: none;
    background: transparent;
    margin: 0;
    border-radius: 0;
  }
  .persona, .video, .listicle {
    article {
  padding-bottom: 3rem;
}
}
  .type_article {
    background: $vert;
    font-style: italic;
  }

  blockquote {
    border-left: 0.8rem solid $vert;
    border-top: 0.8rem solid $vert;
    background: $bleu;
    color: $vert;

    margin: auto;
    padding: 2rem 1rem;
    margin-bottom: 2rem;

    p {
      color: $vert;
      font-style: italic;
    }
  }

  .entry-content {
    margin: auto;
  }

  .entry-content-asset {
    margin: 1.6em auto;
  }

  .home span {
    color: $bleu;
  }

  .breadcrumbs {
    margin-top: 1rem;
    max-width: $mw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2;
  }

  .breadcrumb_last, .breadcrumbs a {
    margin: 0.6rem .3rem;
  color: $bleu;
    text-transform: uppercase;
  /*  border-top: 0.0125rem solid $bleu;*/
/*    padding: 0.1rem 0;*/
  }
  .breadcrumbs a:hover {
  /*    border-bottom: 0.0125rem solid $violet;*/
    }

  .breadcrumb_last, .breadcrumbs {
    a{
      position: relative;
      display: inline-block;
      text-decoration: none;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      transition: all .3s linear;
    }

    a:hover{
      color: $violet;
    }

    a:before, a:after{
      content: '';
      background: $violet;
      position: absolute;
      width: 0;
      height: 0.125rem;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      transition: all .3s linear;
    }

    a:before{
      top: 0;
      left: 0;
    }

    a:after{
      top: 100%;
      right: 0;
    }

    a:hover:before, a:hover:after{
      width: 100%;
}
}


  .avatar-container {
    margin: 0;
  }

  .entry-author span {
    margin: auto;
  }

  .entry-author a {
    color: #fff;
    margin: auto;
    padding: 0 0.5rem;
    font-family: "futura-pt", sans-serif;
    font-weight: bold;
  }

  .edited {
    background-image: -webkit-linear-gradient(top,$vert,$vert);
    background-image: linear-gradient(180deg,$vert,$vert);
    background-position: 0 0.98em;
    background-size: 100% 27%;
    background-repeat: no-repeat;
    padding: 0.125em 0;
    -webkit-transition: background-position 0.15s;
    transition: background-position 0.15s;
    text-transform: lowercase;
  }

  .current {
    margin-top: 0.6rem;
    color: $bleu;
    text-transform: uppercase;
    border-top: 0.125rem solid $bleu;
    padding: 0.1rem 0;
    margin: 0 0.3rem;
    color: $violet;
  }

  figure,
  img {
    max-width: 100%;
    height: auto;
  }

  .chapeau,
  h2,
  p, ul {
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    border-left: 0.5rem solid $violet;
    margin: 4rem 0 2rem 1rem;
    padding: 0 0 1rem 1rem;
    font-size: 150%;
  }

  figcaption {
    background-color: $bleu;
    color: $vert;
    border-left: 0.6rem solid $vert;
    margin: 0.8rem 1.5rem 1.2rem 1rem;
    padding: 0.2rem;
  }

  .chapeau {
    font-style: italic;
    padding: 0 0 1rem;
    margin-top: 3rem;
  }
}
/*** TYPES DE POST */
.listicle,
.video {
  .page-header {
    background-color: $violet;

    .author-and-date,
    h1 {
      color: #fff;
    }

    .chrono {
      display: flex;
      position: absolute;
      right: 5%;
      top: 3vh;
    }

    .timer svg {
      height: 0.8rem;
      margin-right: 0.6vw;
    }
  }
}
/* LISTICLE */
.listicle {
  .page-header {
    background-color: $violet;
    padding: 3vh 0 3vh 7vw;
    .meta {
      margin-bottom: .8rem;
    }
    h1 {
      margin: .8rem 0 1.5rem;
    }
    .avatar-nom {
      margin-right: 1.3rem;
    }
  }

  .chapeau {
    border-bottom: 0.08rem solid $violet;
    margin-bottom: 3rem;

  }
}
/* FIRST PERSON*/
.first-person {
  .page-header {
    .entry-title {
      color: #fff;
      margin-top: 1rem;
      span {
        background: $violet;
    line-height: 1.3em;
      }
    }

    .edited {
      color: #fff;
      background-image: -webkit-linear-gradient(top,$violet,$violet);
      background-image: linear-gradient(180deg,$violet,$violet);
      background-position: 0 0.98em;
      background-size: 100% 27%;
      background-repeat: no-repeat;
      padding: 0.125em 0;
      -webkit-transition: background-position 0.15s;
      transition: background-position 0.15s;
      text-transform: lowercase;
      font-style: italic;
    }

    figure {
      margin: 0;
    }
      .timer {
      padding-right: .3rem;
    }

    svg {
      width: 0.8rem;
      fill: #fff;
    }

    .chrono {
      position: absolute;
      right: 5%;
      color: #fff;
      top: 1vh;
    }

    .card-img-overlay {
      background-color: $violet-t;
      padding: 0;
    }

    .fp-center {
      text-align: center;
      left: 0;
      right: 0;
      position: absolute;
      bottom: 15%;

      p {
        margin-bottom: 2rem;
      }

      .author-info {
        margin-top: 2rem;
      }
      time {
        font-weight: bold;
      }
    }

    .type_article {
      padding: 0 0.15rem;
      font-size: 80%;
      line-height: 1.2;
      color: $bleu;
    }
  }

  .chapeau {
    border: none;
  }
  .fp-edited {
    background-color: $bleu;
    width: 100%;
    color: #fff;
    margin-top: 3rem;
    padding: 2rem 7vw;
    .avatar-container {margin: auto .8rem;}
    .author {
      margin: auto 0;
    }
    .fp-edited-in {
      display: flex;
      flex-direction: row;
    }
    .edited-by {
      font-size: 60%;
    }
  }
}

/* VIDEO */
.video,
.video .page-header {
  background-color: $bleu;
  .meta,
  p {
    color: #fff;
  }
  h1 {
    margin: 2rem 0 1.5rem;
    font-size: 175%;
  }
}
.responsive-video {
  margin-bottom: 1rem;
}
.video .page-header {
  max-width: $mw;
  margin-left: auto;
  margin-right: auto;

  .meta {

    margin-bottom: auto;
    display: flex;
    .type_article {
      color: $bleu;
      font-size: 80%;
    }
    time {
      margin-left: auto;
      margin-right:2rem;
      font-weight: bold;
    }
  }
}
.video .breadcrumbs a, .video .breadcrumb_last {
    color: #fff !important;
  }

/* PERSONA*/
.persona {
  .page-header {
    .entry-title {
      display: flex;
      color: #fff;
    }

    .avatar-container {
      margin: auto 0.8rem auto 0;
    }

    .edited {
      color: #fff;
      background-image: -webkit-linear-gradient(top,$violet,$violet);
      background-image: linear-gradient(180deg,$violet,$violet);
      background-position: 0 0.98em;
      background-size: 100% 27%;
      background-repeat: no-repeat;
      padding: 0.125em 0;
      -webkit-transition: background-position 0.15s;
      transition: background-position 0.15s;
      text-transform: lowercase;
      margin-left: .8rem;
    }

    figure {
      margin: 0;
    }

    svg {
      width: 0.8rem;
      fill: #fff;
    }

    .chrono,
    .meta,
    address {
      color: #fff;
    }

    .meta {
      display: flex;
    }

    .timer {
      margin: 0.1rem 1vw 0 auto;
    }

    .metas {
      position: absolute;
      bottom: 3%;
    }
  }

  .chapeau {
    border: none;
  }

  .personnages-concernes {
    .fiche {
      background-color: $bleu;
      color: #fff;
      text-align: center;
      padding: 3rem 0 0;
      margin-bottom: 2rem;
figcaption {
  border: none;
  background: none;
  color: #fff;
}
      h2 {
        border: none;
        padding: 0;
        margin: auto;
        font-size: 180%;
      }

      .h6 {
        margin: .5rem auto 1.5rem;
      }

      a {
        color: #fff;
        padding: 0.3rem 0.8rem;
        margin-bottom: 2rem;
        background-color: $violet;
        -moz-box-shadow: 0.4em 0.4em 0 0 $vert;
        -webkit-box-shadow: 0.4em 0.4em 0 0 $vert;
        -o-box-shadow: 0.4em 0.4em 0 0 $vert;
        box-shadow: 0.4em 0.4em 0 0 $vert;
        font-weight: bold;
      }
.perso-pic {
  margin-top: 5rem;
}

    }

    .element-perso {
      h2 {
        margin: 0;
        border: 0;
        margin-left: 1.5rem;
      }
    }
  }
}
