@include media-breakpoint-up(lg) {
  body {
    font-size: 120%;
  }

  .entry-content{
    max-width: 51em;
  }
.fp-edited-in {
  width: 40.25em;
    margin: auto;
    max-width: 100%;

}
  .entry-content-asset,
  p {
    max-width: $mwd !important;
  }

  .error404 .e404 {
    max-width: 50vw;
    margin-top: 5rem;

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
  .h1, h1 {
    font-size: 300%;
    font-weight: bold;

  }

  .banner {
    top: 0;
    bottom: calc(100vh - 3rem);
  }

  footer {
    margin-bottom: 0;
  }

  #mc_embed_signup,
  .author-posts,
  .category-posts,
  .container-author,
  .flexed,
  .rebound {
    max-width: $mwd;
  }

  .author-posts {
    margin-top: 3rem;
  }

  .newsletter {
    .button,
    .email {
      width: $mwd;
    }
  }

  .container-author {
    margin-left: auto;
    margin-right: auto;

    .metas {
      left: 0 !important;
    }
  }

  .video {
    background-color: #fff;

    p {
      color: $bleu;
    }

    .top-video {
      display: flex;
      padding: 5% 7% 0;
      background: rgba(118,71,249,1);
      background: -moz-linear-gradient(top, rgba(118,71,249,1) 0%, rgba(118,71,249,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(118,71,249,1)), color-stop(75%, rgba(118,71,249,1)), color-stop(75%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
      background: -webkit-linear-gradient(top, rgba(118,71,249,1) 0%, rgba(118,71,249,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
      background: -o-linear-gradient(top, rgba(118,71,249,1) 0%, rgba(118,71,249,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
      background: -ms-linear-gradient(top, rgba(118,71,249,1) 0%, rgba(118,71,249,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom, rgba(118,71,249,1) 0%, rgba(118,71,249,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#7647f9', endColorstr='#ffffff', GradientType=0 );

      .page-header {
        background-color: transparent;
        padding-left: 5rem;
        display: flex;
        padding-left: 5rem;
        flex-direction: column;
        margin-bottom: 9rem;

        h1 {
          margin-bottom: auto;
        }

        .author-info {
          margin-bottom: auto;
        }
      }
    }
  }
.banner .container {
  max-width: 88vw;
  .logo {
position: fixed;
left: 50%;
transform: translateX(-50%);
  }
}
  #panel {
    margin-top: 3rem;
  }
  .home {
    .una {
      .container-una {
        margin: auto;
width: 80vw;
padding: 0 1rem;
h2 {
  font-size: 300%;
}

      }
      .entry-title {
        margin: 1.8rem 0 2rem;
      }
    }
    .quadra, .lista {
      max-width: 80vw;
      margin: auto;
      h2 {
        font-size: 130%;
      }
    }

    .diapa {
    .h4 {
      font-size: 200%;
    }
    address {
      font-size: 120%;
    }
  }

  .lista .article-metas {
    font-size: 120%;
  }
}
}
.single .post .breadcrumbs {
  max-width: 86vw !important;
  text-align: center;
}
