.rounded-circle,
.wp-user-avatar-25, .wp-user-avatar-30, .wp-user-avatar-35 {
  border-radius: 50%;
}
.panel {
  background-color: #fff;
}
.small {
  font-size: 60%;
}

.d-inline-flex {
  display: inline-flex;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
address {
  margin: auto;
}

.card-img {
  border-radius: 0;
}
.d-flex {
  display: flex;
}
.cta,
a,
body,
input,
p,
span,
time,
li {
  font-family: "proxima-nova",sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: "futura-pt", sans-serif;
}

blockquote,
figcaption {
  font-family: "futura-pt",sans-serif;
  font-weight: bold;
}

.chapeau p {
  font-family: "ff-meta-serif-web-pro",serif;
  line-height: 1.5;
  font-size: 120%;
}

p, li {
  letter-spacing: -.004em;
  color: $bleu;
}

time {
  color: #fff;
  font-style: italic;
  text-transform: lowercase;
  font-weight: 700;
}

.card {
  background-color: transparent;
  border-radius: 0;
  border: none;
}

.list-posts {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.flexed {
  display: flex;
  flex: wrap;
  margin: auto;
}

.col-md-5 {
  padding: 0;
}

.byline {
  font-family: "futura-pt", sans-serif;
  font-weight: bold;
  letter-spacing: 0.004rem;
  font-size: 70%;
}

.h4 {
  font-weight: bold;
}
.carousel-control.right,
.carousel-control.left {
  background: none;
}
