.wp-user-avatar-35, .rounded-circle {
  border-radius: 50%;
}

.d-inline-flex {
  display: inline-flex;
}
address {
  margin-bottom: 0;
margin: auto;
}
.card-img {
  border-radius: 0;
}

body, h1, h2, p, a, span, .cta, time, input {
  font-family: "proxima-nova",sans-serif;
}
h1, h2, h3 {
  font-weight: bold;
}
blockquote, figcaption {
  font-family: "futura-pt",sans-serif;
}
.chapeau p {
  font-family: "ff-meta-serif-web-pro",serif;
  line-height: 1.3;
}
p {
  letter-spacing: -.004em;
  color: $bleu;
}
time {
  color: #fff;
  font-style: italic;
  text-transform: lowercase;
}
.card {
  background-color: transparent;
  border-radius: 0;
  border: none;
}
.list-posts {
  margin-bottom: 2rem;
}
.flexed {
  display: flex;
  flex: wrap;
margin: auto;
}

.col-md-5 {
  padding: 0;
}
