// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #7647f9;
$bleu: #140a23;
$vert: #3bffbe;
$violet: #7647f9;
$violet_t: rgba(20, 10, 35, 0.73);
$vert_t: rgba(59, 255, 190, 0.34);
$violet_b: rgba(20, 10, 35, 0.34);
$mw: 86vw;
$mwd: 43.25rem;

$enable-transitions:        true;
$font-size: 110%;
$line-height: 1.1;
$lines-to-show: 4;
